
 }
.firstRow {
	font-weight: bold;
}


.firstRow, .secondRow, .thirdRow, .fourthRow, .fifthRow, .sixthRow {
	font-size: 25px;
}
body { 
       background-image: url("http://az616578.vo.msecnd.net/files/2016/03/07/6359290749687052841531623671_the-origins-of-hip-hop-music.jpg"); 
}

button {
	height: 90px;
	width: 180px;
	opacity: .8;
	color: black;
	font-weight: bold;
	font-size: 25px;
	border-radius: 5px;

}

button:hover {
	background-color: yellow; 
}
.container{
	margin-left:160px;
	margin-top: 70px;
}
h1 {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 70px;
	text-align: center;


}
.scoreboard {
	width: 175px;
	height: 100px;
	background: #D12755;
	margin-left: 520px;
	border-radius: 10px;
	opacity: .8;

}
.score {
	font-size: 70px;
	text-align: center;
	padding: 10px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
